In [93]:
import yfinance as yf
import pandas as pd

nyse_asset = '^NYA'

In [97]:
nyse_index = yf.Ticker(f'{nyse_asset}')

In [98]:
# Histórico de 1 ano com intervalo diário
start = '2006-01-01'
end = '2022-12-31'

nyse_history = nyse_index.history(start=start, end=end).reset_index()

In [103]:
(nyse_history
    .assign(Year=lambda x: x['Date'].dt.year)
    .groupby('Year')
    .mean()
    .reset_index()
    .filter(items=['Date', 'Year', 'Close'])
)

                                  Date  Year         Close
0  2006-07-02 07:46:51.155378432-04:00  2006   8357.631601
1  2007-07-02 18:53:18.406374656-04:00  2007   9653.041055
2  2008-07-02 05:10:54.545454592-04:00  2008   8030.863233
3  2009-07-03 06:26:11.428571392-04:00  2009   6100.639199
4  2010-07-03 16:49:02.857143040-04:00  2010   7233.543025
5  2011-07-02 13:51:54.285714432-04:00  2011   7863.183173
6     2012-07-01 02:38:52.800000-04:00  2012   8008.235865
7            2013-07-02 11:23:20-04:00  2013   9432.335007
8  2014-07-02 19:51:54.285714432-04:00  2014  10655.293011
9  2015-07-03 07:06:11.428571392-04:00  2015  10673.225012
10 2016-07-02 17:11:54.285714432-04:00  2016  10391.711565
11 2017-07-02 07:42:04.302788864-04:00  2017  11846.116876
12 2018-07-01 11:20:04.780876544-04:00  2018  12653.069122
13           2019-07-02 09:23:20-04:00  2019  12864.524546
14 2020-07-02 13:03:19.209486080-04:00  2020  12624.352894
15 2021-07-03 16:49:02.857143040-04:00  2021  16262.097478
16 2022-07-02 15:44:13.386454016-04:00  2022  15455.157297